<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>TV Series Recommendation System</title>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    body {
      background-image: url(../../static/images/seriale.jpg);
      background-repeat: no-repeat;
      background-size: 87% 100%;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  </style>


  <title></title>
</head>

<body>
  <div class="container text-center" style="position: absolute; margin-left: 692px;">
    <div class="row">
      <a href="/login/"><button class="btn btn-lg btn-primary" style="font-size: 30px;padding: 15px; height: 670px;">Proceed <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button></a>
    </div>
  </div>
</body>

</html>
